body {
  font-family: 'Noto Serif Display', serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #171717;
}

img {
  width: 100%;
}

strong {
  font-weight: 700;
}

figcaption {
  display: flex;
  justify-content: flex-end;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .75rem;
}

.main {
  padding-top: 180px;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.button--comment {
  color: #143774;
  font-weight: 700;
}

.button--box {
  color: #171717;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container--detail {
  max-width: 800px;
}

/* Typography */
h1, h2, h3 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  line-height: 1.2;
  font-size: 1.5rem;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

/* Notice */
.notice {
  background-color: #171717;
  color: #ffff;
  text-align: center;
}

/* Input */
input[type="text"] {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  outline: none;
  border: 1px solid #171717;
  padding: .25em 1em;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  cursor: pointer;
  padding: .45em 1em;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #fff;
  background-color: #171717;
  border: 1px solid #171717;
  transition-duration: .2s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fff;
  color: #171717;
}

/* Header */
.header {
  background-color: #fff;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px rgba(23, 23, 23, 0.3) solid;
  position: fixed;
  z-index: 499;
}

.header__logo {
  font-size: 4.5rem;
  text-align: center;
  padding-top: .25em;
}

.header__logo a {
  color: #171717;
}

.header__toggle {
  position: absolute;
  top: 1.75em;
  right: .25em;
  font-size: 2rem;
  color: #171717;
  z-index: 500;
}

/* Navigation */
.nav {
  position: fixed;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  z-index: 1000;
  transition: .5s;
}

.nav ul {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 25%;
  width: 100%;
}

.nav li {
  margin-top: 2em;
}

.nav li:last-child {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

.nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #f1f1f1;
  transition: 0.3s;
  margin-bottom: 1em;
}

.nav .nav__close {
  position: absolute;
  top: .5em;
  right: 1em;
  color: #fff;
  font-size: 3rem;
}

.nav .search__btn {
  cursor: pointer;
  padding: .75em 1em;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #171717;
  background-color: #fff;
  border: 1px solid #171717;
  transition-duration: .2s;
  margin: 0;
}

.nav .search__btn:hover,
.nav .search__btn:focus {
  background-color: #7e7e7e;
  color: #fff;
}


/* Subscribe */
.subscribe {
  padding: 4em 0;
  background-color: #f3f3f3;
}

.subscribe__title {
  text-align: center;
}

.subscribe__title h2 {
  margin-bottom: 1em;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

/* Footer */
.footer {
  background-color: #171717;
  color: #fff;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.footer__item:first-child {
  margin: 0;
}

.footer__item p {
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}

.footer__item a {
  color: #fff;
  margin-left: 2em;
}

.footer__item--icons a {
  margin-left: 0;
}

.footer__item a:first-child {
  margin: 0;
}

.footer__icon {
  width: 1.25em;
}

/* Article */
.article {
  margin-bottom: 2em;
}

.article p {
  margin: 1.25em 0;
}

.article__date {
  font-size: 1rem;
}

.article__more {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #143774;

}

.article__more:hover,
.article__more:focus {
  color: #1792d2;
  text-decoration: underline;
}

/* Sidebar */
.sidebar__title {
  margin-bottom: 1em;
}

.sidebar__inner {
  border: 1.125em solid #f0f1f2;
  padding: 1em;
}

.sidebar__post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(23, 23, 23, 0.5);
  margin-bottom: 1em;
}

.sidebar__post:last-child {
  border: none;
  margin: 0;
}

.sidebar__post__title {
  line-height: 1.5;
  margin: 2em 0;
  order: 1;
}

/* Card */
.card {
  margin: 2em 0;
  padding: 0 2em;
}

.card h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__item {
  cursor: pointer;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  transition: transform .4s ease-in;
}

.card__item:hover {
  transform: scale(1.02, 1.02);
}

/* Detail */
.detail__header {
  text-align: center;
}

.detail__category {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #143774;
  text-transform: uppercase;
}

.detail__title {
  font-size: 1.75rem;
  margin: 1em 0;
}

.detail__author {
  margin: 2.5em 0;
}

.detail__author p {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #143774;
}

.detail__text {
  margin-bottom: 1em;
}

/* Comment */
.comment__header {
  border-bottom: 1px solid #171717;
  font-size: 2rem;
  padding: 4em 0 1em 0;
}

.comment__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9e8f8f;
  padding: 2em 0;
}

.comment__text {
  margin-left: 1em;
  width: 75%;
}

.comment__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__upper p {
  font-size: 1rem;
}

.comment__mid {
  margin: 1em 0;
}

.comment__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__avatar {
  width: 20%;
}

.comment__icon {
  width: 1.5rem;
}

.comment__feedback {
  display: flex;
}

.comment__write {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1em;
}

.comment__write textarea {
  font-family: 'Nunito Sans', sans-serif;
  resize: vertical;
  border: 1px solid #171717;
  padding: .5em;
  outline: none;
}

.comment__write input[type="submit"] {
  margin-top: 1em;
  width: 25%;
  align-self: flex-end;
}

/* Grid */
.grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: .5em;
  margin: 0 2em;
}

.grid__title {
  text-align: center;
  font-size: 3rem;
  padding: 2em 0;
}

.section__grid {
  margin-bottom: 2em;
}

.grid__item {
  width: 100%;
  min-height: 150px;
  position: relative;
}

.grid__item img {
  height: 100%;
}

.grid__text {
  color: #fff;
  position: absolute;
  top: 78%;
  left: 5%;
  z-index: 1;
}
/* Search */
.search__form {
  display: flex;
  justify-content: center;
  margin: 3em 2em 2em 2em;
}

.search__result {
  text-align: center;
}

.search__form input[type="text"] {
  width: 100%;
}

/* Box */
.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box__item {
  box-shadow: 1px 1px 5px #aaaaaa;
  width: 100%;
  margin-top: 2em;
}

.box__item h2 {
  font-size: 1rem;
  padding: 2em 1em;
}

/* Privacy */
.privacy__text p {
  margin-bottom: 1em;
}

/* Media queries */
@media (min-width: 421px) {
  /* Header */
  .header__toggle {
    right: 1.5em;
  }
}

@media (min-width: 769px) {
  .main {
    padding-top: 240px;
  }

  /* Header */
  .header__toggle {
    display: none;
  }

  /* Navigation */
  .nav {
    position: relative;
    width: 100%;
    background-color: #fff;
  }

  .nav ul {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5em;
  }

  .nav li {
    margin: 0;
  }

  .nav a {
    color: #171717;
    font-size: 1.5rem;
    margin: 0;
  }

  .nav .nav__close {
    display: none;
  }

  .nav input {
    border: 1px solid #171717;
  }

  .nav .search__btn {
    color: #fff;
    background-color: #171717;
  }

  .nav .search__btn:hover,
  .nav .search__btn:focus {
    background-color: #fff;
    color: #171717;
  }

  /* Footer */
  .footer__inner {
    justify-content: space-around;
    flex-direction: row;
  }

  .footer__item {
    flex-wrap: nowrap;
    margin-top: 0;
  }

  .footer__item p {
    margin-bottom: 0;
  }

  .footer__item--icons a {
    margin-left: 1.5em;
  }

  /* Container */
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .container--detail {
    flex-direction: column;
  }

  /* Article */
  .article:last-child {
    margin: 0;
  }

  .articles {
    width: 70%;
  }

  /* Sidebar */
  .sidebar {
    width: 25%;
  }

  /* Card */
  .card__inner {
    flex-direction: row;
  }

  .card__item {
    width: 19.9%;
    margin: 0;
  }

  /* Grid */
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__text {
    top: 70%;
  }

  /* Box */
  .box {
    flex-direction: row;
    justify-content: space-between;
  }
  .box__item {
    width: 32%;
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .col3 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }

  .col4 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }

  .grid__text {
    top: 68%;
  }

  .grid__text--col {
    top: 80%;
    left: 2.5%;
  }
}
