body {
  font-family: "Roboto", sans-serif;
}

b {
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 10px;
}

.header__logo {
  display: block;
}

.header__logo__img {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.header__toggle {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}

.header__toggle__icon {
  display: block;
  width: 32px;
  height: 32px;
}

/* Navigation */
.nav {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  z-index: 1000;
  transition: 0.5s;
}

.nav ul:not(.menu__dropdown) {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 150px;
  width: 100%;
}

.nav a {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  color: #f1f1f1;
  text-transform: uppercase;
  padding: 0.5em;
  transition: 0.3s;
}

.nav a.menu__link::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  background: no-repeat center/24px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 0 48 48' width='48'%3E%3Cpath d='M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z' fill='%23fff'/%3E%3Cpath d='M0-.75h48v48h-48z' fill='none'/%3E%3C/svg%3E");
}

a.menu__sublink {
  background: #555;
}

.nav .nav__close {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #fff;
}

.nav .search__btn {
  cursor: pointer;
  padding: 0.75em 1em;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #171717;
  background-color: #fff;
  border: 1px solid #171717;
  transition-duration: 0.2s;
  margin: 0;
}

.nav .search__btn:hover,
.nav .search__btn:focus {
  background-color: #7e7e7e;
  color: #fff;
}

.menu__dropdown {
  display: none;
}

.menu__link.active + .menu__dropdown {
  display: block;
}

.menu__sublink:hover {
  background-color: #555;
  color: #fff;
}

.footer {
  background-color: #171717;
  color: #fff;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1em;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.footer__item:first-child {
  margin: 0;
}

.footer__item p {
  text-align: center;
  width: 100%;
  margin-bottom: 1.5em;
}

.footer__item a {
  color: #fff;
  margin-left: 2em;
}

.footer__item--icons a {
  margin-left: 0;
}

.footer__item a:first-child {
  margin: 0;
}

.footer__icon {
  width: 1.25em;
}

/* Subscribe */
.subscribe {
  font-size: 1rem;
  padding: 4em 0;
  background-color: #f3f3f3;
}

.subscribe__title {
  text-align: center;
}

.subscribe__title h2 {
  margin-bottom: 1em;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

/* Selection of category */
.category__section {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2em;
}

.category__section__title {
  text-align: center;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}

.category__section__title h2 {
  margin-bottom: 1em;
  display: none;
}

.category__section__category {
  align-items: center;
  align-content: center;
}

.confirm__btn{
  border-radius: 4px;
  color: #fff;
  background: rgba(30, 152, 215, 1);
  font-size: 1.2rem;
  padding: 10px 30px;
  border: 0;
}

.subscribe__success{
  display: none;
  text-align: center;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: repeat center url("../img/index-background.jpg");
}

.homepage__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  background: #fff;
}


/* 404 not found*/
.notfound__info {
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notfound__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  background: #fff;
}

.notfound__text {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 15px;
  background: #fff;
}

.notfound__button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 3rem;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.notfound__button:hover {
  background-color: #0056b3;
}

/* About */
.section {
  max-width: 1200px;
  padding: 2rem 1rem 4rem 1rem;
  margin: 0 auto;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.section__text {
  word-wrap: break-word;
  line-height: 1.3;
}

.section__text + .section__text {
  margin-top: 1.5rem;
}

.about__list {
  margin-top: 2rem;
}

.about__item {
  display: flex;
}

.about__item__img {
  width: 120px;
  height: 120px;
}

.about__item__content {
  padding-left: 1.5rem;
}

.about__item__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.about__item__text {
  line-height: 1.2;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 30px 20px;
}

/* Career */
.careers__list {
  margin-top: 2rem;
}

.careers__item * {
  line-height: 1.2;
}

.careers__item {
  max-width: 800px;
}

.careers__item + .careers__item {
  margin-top: 1.5rem;
}

.careers__item__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.careers__item__sallary {
  margin-bottom: 8px;
}

.careers__item__subtitle {
  font-weight: 700;
  margin-bottom: 8px;
}

.apartment__subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 14px 0;
}

/* Form */
.search {
  display: flex;
  flex-wrap: wrap;
}

.search * {
  margin: 5px;
}

/* .search *:not(:first-child) {
  margin-left: 1.2rem;
} */

.search__submit {
  border-radius: 4px;
  color: #fff;
  background: rgba(30, 152, 215, 1);
  font-size: 1.2rem;
  padding: 10px 30px;
  border: 0;
}

.search__select {
  padding: 10px 15px;
  font-size: 1.5rem;
  border: 1px solid #d0d0d0;
  height: 54px;
}

.search__date {
  padding: 10px 15px;
  font-size: 1.5rem;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
}

input[type="text"],
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  border-radius: 4px;
  color: #fff;
  background: rgba(30, 152, 215, 1);
  font-size: 1.2rem;
  padding: 10px 30px;
  border: 0;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact__form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact__form.hide {
  display: none;
}

.contact__results {
  display: none;
}

.hide + .contact__results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.results__list {
  margin-top: 32px;
}

.results__item {
  display: flex;
  border: 1px solid #e6e6e6;
  padding: 5px 20px;
}

.results__item img {
  width: 200px;
  height: 180px;
  object-fit: contain;
}

.results__item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  flex: 1;
}

.results__item__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.results__item__text {
  margin-bottom: 8px;
}

span.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.results__item__button {
  background: rgba(30, 152, 215, 1);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.results__item + .results__item {
  margin-top: 15px;
}

.search__results {
  display: none;
}

.search.hide {
  display: none;
}

.hide + .search__results {
  display: block;
}

@media (min-width: 992px) {
  .header__toggle {
    display: none;
  }

  /* Navigation */
  .nav {
    position: relative;
    width: 100%;
    background-color: #fff;
  }

  .nav ul {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
  }

  .nav li {
    margin: 0;
  }

  .nav a {
    color: #171717;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
  }

  .nav .nav__close {
    display: none;
  }

  .nav input {
    border: 1px solid #171717;
  }

  .nav .search__btn {
    color: #fff;
    background-color: #171717;
  }

  .nav .search__btn:hover,
  .nav .search__btn:focus {
    background-color: #fff;
    color: #171717;
  }

  .nav a.menu__link::after {
    background: no-repeat center/24px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 0 48 48' width='48'%3E%3Cpath d='M14.83 16.42l9.17 9.17 9.17-9.17 2.83 2.83-12 12-12-12z' fill='currentColor'/%3E%3Cpath d='M0-.75h48v48h-48z' fill='none'/%3E%3C/svg%3E");
  }

  .nav ul:not(.menu__dropdown) {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .nav li {
    width: auto;
    background: #fff;
  }

  .nav {
    position: static;
  }

  .menu__link.active + .menu__dropdown {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  a.menu__sublink {
    background: #fff;
  }
}
