body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
}

nav > ul {
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    list-style-type: none;
}

.menu { 
    display: inline-block;
    padding: 16px;
    text-decoration: none;

}

.menu-window {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    left: 0;
    padding: 40px;
    overflow: hidden;
    width: 100vw;
    list-style: none;
    color: #333;
}

.menu-window > .logo {
    top: 0;
    left: 0;
}

.menu:hover .menu-window {
    display: flex;
    text-decoration-style: none;    
    position: absolute;
    padding: 15px;
    padding-bottom: 15%;
}

.menu-window > li {
    padding: 12px;
    display: block;
    text-decoration-style: none;
    color: #333;
}

.menu-content li:hover {
    background-color: #ddd;
}

.menu:hover {
    background-color: #555;
    color: white;
    cursor: pointer;
    list-style: none;
}